In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'/Users/brianyoo/Instacart Basket Analysis'

In [5]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [7]:
ords_prods_merged['order_date_of_week'].value_counts()

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_date_of_week, dtype: int64

In [ ]:
# 2

In [8]:
result = []

for value in ords_prods_merged['order_date_of_week'] :
    if value == 0 :
        result.append('Busiest day')
    elif value == 4 :
        result.append('Least day')
    else :
        result.append('Regularly day')

In [9]:
ords_prods_merged['busiest day'] = result

In [10]:
ords_prods_merged['busiest day'].value_counts(dropna = False)

Regularly day    22416875
Busiest day       6204182
Least day         3783802
Name: busiest day, dtype: int64

In [11]:
len(result)

32404859

In [12]:
result2 = []

for value in ords_prods_merged['order_date_of_week'] :
    if value in [0,1] :
        result2.append('Busiest days')
    elif value in [4,3] :
        result2.append('Slowest days')
    else :
        result2.append('Regularly days')

In [13]:
len(result2)

32404859

In [14]:
ords_prods_merged['busiest days'] = result2

In [15]:
ords_prods_merged

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,order_number,order_date_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge,busiest day,busiest days
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,28,6,11,3.0,False,5,0,both,Regularly day,Regularly days
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,30,6,17,20.0,False,1,1,both,Regularly day,Regularly days
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,2,0,21,6.0,False,20,0,both,Busiest day,Busiest days
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,1,3,13,NaN,True,10,0,both,Regularly day,Slowest days
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,3,4,17,9.0,False,11,1,both,Least day,Slowest days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,3321928,1788356,200215,2,0,9,5.0,False,27,0,both,Busiest day,Busiest days
32404855,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3324686,3401313,200377,1,4,11,NaN,True,5,0,both,Least day,Slowest days
32404856,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,3332310,809510,200873,5,3,8,15.0,False,12,0,both,Regularly day,Slowest days
32404857,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,3332314,2359893,200873,9,3,15,5.0,False,11,1,both,Regularly day,Slowest days
32404858,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,3416620,2385091,205926,11,1,15,6.0,False,35,0,both,Regularly day,Busiest days

In [16]:
ords_prods_merged['busiest days'].value_counts(dropna = False)

Regularly days    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest days, dtype: int64

In [ ]:
# 3
0 =6204182, 1 = 5660230
0+1 = 11864412 (Busiest days)
4 = 3783802, 3 = 3840534
4+3 = 7624336 (Slowest days)

In [ ]:
# 4

In [17]:
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [78]:
result3 = []

for value in ords_prods_merged['order_hour_of_day']:
    if value>=9 and value<=16:
        result3.append("Most orders")
    elif value<=6:
        result3.append("Fewest orders")
    else:
        result3.append("Average orders")

In [83]:
ords_prods_merged['busiest_period_of_day'] = result3

In [84]:
ords_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge,busiest day,busiest days,time_periods_orders,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,11,3.0,False,5,0,both,Regularly day,Regularly days,Most orders,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,17,20.0,False,1,1,both,Regularly day,Regularly days,Average orders,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,21,6.0,False,20,0,both,Busiest day,Busiest days,Average orders,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,13,NaN,True,10,0,both,Regularly day,Slowest days,Most orders,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,17,9.0,False,11,1,both,Least day,Slowest days,Average orders,Average orders

In [ ]:
# 5

In [85]:
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders    10399967
Fewest orders       886821
Name: busiest_period_of_day, dtype: int64

In [ ]:
# 7

In [86]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))